* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Montserrat", sans-serif;
  text-decoration: none;
}

/*loader*/

.loader {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.75s visibility 0.75s;
  width: 100vw;
  height: 100vh;
  background: #1d2733;
  z-index: 455;
}
.loader-hidden {
  opacity: hidden;
  visibility: hidden;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: blue;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

/* ------ */

.container {
  width: 100%;
  height: 100vh;
  background: no-repeat center / cover url("../resources/viewearth.jpeg");
  display: flex;
  flex-direction: column;
}

.container .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  flex-direction: row;
}

.container .navbar .right {
  display: flex;
  gap: 30px;
}

.container .navbar .right a {
  color: var(--yellow);
  text-transform: uppercase;
}

.container .navbar .right a:hover {
  text-decoration: underline;
}

.container .content {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  width: 100%;
  position: relative;
  top: -30px;
  flex: 5;
}

.container .content h1 {
  text-transform: uppercase;
  font-size: 60px;
}
.container .content p {
  text-align: center;
}
.container .content .options {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  width: 20%;
}
.container .content .options button {
  padding: 20px;
  border-radius: 30% / 35%;
  border: 3px solid var(--yellow);
  background-color: black;
  color: var(--yellow);
  font-weight: bolder;
  text-transform: uppercase;
  transition: all 0.5s;
}
.container .content .options button:hover {
  background-color: white;
  color: black;
}

.container .contacts {
  display: flex;
  padding: 10px 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background: var(--yellow);
  flex: 1;
  font-size: medium;
}

.container .contacts .details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.container .contacts .details img {
  margin-top: 10px;
}

.container .contacts .details .copyright {
  font-size: small;
}

.container .contacts .details .social-networks {
  font-size: 50px !important;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  color: black;
  transition: all 0.5s;
}

/* Add a hover effect if you want */
.fa:hover {
  background-color: black;
  color: white;
}

/* ================================================================= */

:root {
  --yellow: #fffb05;
}
