body {
  margin: 0;
  padding: 0;
  background: #000232;
}

/*loader*/

.loader {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.75s visibility 0.75s;
  width: 100vw;
  height: 100vh;
  background: #1d2733;
  z-index: 455;
}
.loader-hidden {
  opacity: hidden;
  visibility: hidden;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: blue;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

/* ------ */

.container {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 10;
  border: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container span {
  color: white;
  font-size: 70px;
}

input {
  padding: 10px;
  font-size: 25px;
  border-radius: 10%;
  border: none;
  outline: none;
}
.connexion {
  background: black;
  opacity: 0px;
  color: white;
  border: 2px black solid;
  border-radius: 10%;
  padding: 70px;
  font-size: 20px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10%;
}
